
img {
	height: 220px;
	width: 400px;
	margin: auto;
}

.flex-item {
	display: flex;
	margin: 30px;
}

p {
	font-family: 'Goldman', cursive;
	font-size: 50px	;
	font-weight: 600;
	text-align: left;
}

p.name {
	width: 300px;
	margin-left: 100px;
}

p.score {
	width: 200px;
	margin-left: 100px;
	color: gold;
}

ul {
	list-style: decimal;
}

li {
	font-size: 50px;
	font-weight: 600;
	margin-left: 200px;
	/*color: #33d33b;*/
	padding-left: 10px;
	font-family: 'Goldman', cursive;
}

.menu {
	font-size: 30px;
	color: red;
}